body{font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

.logo img{
    float: left;
}

header{height: 60px;
    width: 100%;
    background-color: black;
}

.header-list li{
    display: inline-block;
    list-style: none;
    float: left;
    color: white;
    padding-right: 70px;
    padding-top: 20px;
    font-size: 15px;
}

.main-left{
    display: inline-block;
    width: 800px;
}

.main-left h1{
    float: left;
    border-left: 5px solid black;
    border-bottom: 4px solid #999;
    font-size: 30px;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
}

.nyuuryoku-form{
    float: left;
    width: 100%;
    background-color: #fff;
    border: 4px #ccc solid;
}

.nyuuryoku-form h2{
    font-size: 20px;
    border-left: 4px red solid;
    margin-left: 20px;
}

form div{
    padding: 15px;
}

.text,textarea,.dropdown{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.submit{
    border: 1px solid lightgray;
    padding: 4px;
    color: white;
    background-color: dimgray;
    border-radius: 2px;
    border-bottom: solid 2px black;
}

.main-right{
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-right: 50px;
    width: 300px;
}

.main-right p{
    font-size: 20px;
    border-bottom: 1px black dotted;
    font-weight: bold;
}

.main-right li{
    list-style: none;
    font-size: 15px;
}

.kiji{
    background-color: #fff;
    margin-top: 30px;
    border: 4px #ccc solid;
    width: 800px;
}

.kiji h3{
    font-size: 10px;
    border-bottom: 3px #ccc solid;
    margin: 0 10px;
}

.contents{
    font-size: 15px;
    margin: 5px 10px; 
}

.handlename{
    font-size: 10px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 60px;
}

footer p{
    font-size: 10px;
    padding-top: 20px;
}
